h1.modal-title {

    color: #888888;
    font-size:1.5em;

}
form.register fieldset.row1
{

    padding:5px;

    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
form.register fieldset.row1 label{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
form.register legend
{
    color: #00aaff;
    padding:2px;
    margin-left: ;
    font-weight:bold;
    font-size: 1em;
    font-weight:400;
}
form.register label{
    color:#444;
    width:98px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}