/* -- Responsive code -- */
@media screen and (max-width: 1600px){}
@media screen and (max-width: 1440px){}
@media screen and (max-width: 1366px){}
@media screen and (max-width: 1280px){}

@media screen and (max-width: 1080px){
    .wthreelocationsaits .grid figure {
        width: 32.2%;
    }
    /*.agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 48.5%;
    }*/
    #postcode_lookup {
        margin-left: 25px;
    }
    #news, #terms {
        left: 185px;
    }
    .wthree-footer-left h5 {
        font-size: 1.32em;
    }
    .nxl-price {
        position: absolute;
        left: 4%;
        top: 28%;
    }
    .nxl-button {
        position: absolute;
        left:74%;
        top: 55%;
    }
}
@media screen and (max-width: 1024px){
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 3.25em;
        font-size: 30px;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 3.3em;
    }
    .nxl-price {
        left: 5%;
        top: 28%;
    }
    .nxl-button {
        position: absolute;
        left:73%;
        top: 68%;
    }

}
@media screen and (max-width: 991px){
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 18em 0;
    }
    nav.navbar.navbar-default.navbar-fixed-top .container {
        width: 100%;
        padding: 10px;
    }
    h3.agile-title {
        font-size: 4.5em;
    }
    .nx-about-left:nth-child(2) {
        margin: 2em 0 0 0;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        font-size: 28px;
    }
    .wthreelocationsaits .container {
        width: 100%;
        padding: 0 10px;
    }
    .vans .container {
        width: 84%;
    }
    .nxl-price {
        left: 10%;
        top: 30%;
    }
    .nxl-button {
        position: absolute;
        left: 69%;
        top: 60%;
    }
    .price-top h3 {
        font-size: 1.2em;
        top: 27%;
        left: 33%;
    }
    div#blog .container {
        width: 100%;
        padding: 10px;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 49.1%;
    }
    .wthree-footer-right {
        text-align: center;
    }
    .agile-social-icons ul li a.fa {
        margin: 0 10px;
    }
    .nxls-address {
        text-align: center;
    }
    .nxls-address.mail a {
        margin: auto;
    }
    .nx-agile-post-info h5, .nx-agile-post-info h4 {
        font-size: 1.2em;
    }
    .team .container {
        width: 85%;
    }
    .wthree-footer-left h5 {
        float: right;
    }
    .list-footer {
        clear: both;
        text-align: center;
    }
    .wthree-footer-right {
        margin-top: 1em;
    }
    #news, #terms {
        left: 254px;
        z-index: 10;
    }
    .agreement label {
        margin-right: 100px;
    }
}
@media screen and (max-width: 900px){
    nav.navbar.navbar-default.navbar-fixed-top .container {
        padding: 8px;
    }
    .wthreelocationsaits .grid figure {
        width: 32.1%;
        height: 100%;
    }
    .team .container {
        width: 86%;
    }
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 16em 0;
    }
}
@media screen and (max-width: 800px){
    .navbar-default .navbar-nav > li > a {
        letter-spacing: 0;
    }
    .nav > li > a {
        padding: 10px;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        padding: 10px;
    }
    .navbar-right {
        margin: 0.7em 1em 0 0;
    }
    .wthreelocationsaits .grid figure {
        width: 32%;
    }
    .vans .container {
        width: 100%;
    }
    .nx-agile-post-info h5, .nx-agile-post-info h4 {
        font-size: 1.2em;
        line-height: 2;
    }
    .team .container {
        width: 98%;
    }
    .form-group {
        margin-bottom: 0;
    }
    #cont_mail {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    h3.agile-title {
        font-size: 3.5em;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 3em;
    }
    .wthreelocationsaits .grid figure {
        width: 32.2%;
    }
    .wthreelocationsaits .grid figure {
        margin: 4px;
    }
    .team .container {
        width: 100%;
    }
    .nxls_team_grid h4 {
        font-size: 1em;
    }
    .agileits_nxlayouts-map iframe {
        min-height: 350px;
    }
    .navbar-right {
        margin: 0.7em 0 0 0;
    }
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 21em 0 13em;
    }
}
@media screen and (max-width: 736px){
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 12em 0 11em;
    }
    nav.navbar.navbar-default.navbar-fixed-top .container {
        width: 96%;
    }
    .navbar-header.page-scroll p {
        width: 25%;
    }
    .nx_agileits-footer .navbar-header.page-scroll p {
        margin: 3em 0em 0 3em;
        width: 62%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 15em;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 2.8em;
    }
    .pricing {
        width:33%;
    }
    .team .container {
        width: 69%;
    }

    .nxls_team_grid h4 {
        margin: 2em 0;
    }
    .navbar-right {
        margin: 0;
        text-align: center;
    }
    .wthree-footer-left h5 {
        text-align: center;
        float:none;
        margin-bottom:1em;
        padding: 0.5em 0;
    }

    .hireButtonBox {
        float: left;
    }
    .address {
        width: 100%

    }


}
@media screen and (max-width: 667px){
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 2.5em;
    }
    .wthreelocationsaits .grid figure {
        width: 32%;
    }
    .nx_agileits-footer .navbar-header.page-scroll p {
        width: 65%;
    }
    div#blog .container {
        padding: 5px;
    }
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 13em 0;
    }
    .nxl-price {
        left: 4%;
        top: 28%;
        z-index: 0;
    }
    .nxl-button {
        position: absolute;
        left:74%;
        top: 60%;
    }
    .price-bottom {
        padding-top: 2em;
    }
    .price-top h3 {
        font-size: 1em;
        padding: 0.5em;
        left: 37%;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 49%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 13em;
    }
}
@media screen and (max-width: 640px){
    .agileits-blog-bottom {
        padding: 1em 1.2em;
    }
    .wthreelocationsaits h3, .agilevansnxl h3, .nxportfolioaits h3, .agilecontactnxls h3 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 48.9%;
    }
    .nx-blog {
        width: 100%;
    }
    .nx-blog.nxl-button {
        width: 50%;
    }
    .agileits-blog-bottom {
        padding: 2em;
    }
    .nx-blog.b2 {
        margin: 2em 0;
    }
    .nx-blog.b3 {
        margin-top: 0;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 12em;
    }
    .wthree-footer-left h5 {
        margin: 1em 0;
    }
    .hireButtonBox {
        float: left;
    }

}
@media screen and (max-width: 600px){
    .navbar-header.page-scroll p {
        width: 50%;
    }
    h3.agile-title {
        font-size: 3.2em;
    }
    .wthreelocationsaits .grid figure {
        margin: 3px;
    }
    .wthreelocationsaits .dummy-img, .dummy-text {
        max-width: 500px;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        font-size: 22px;
    }
    .nxl-button a {
        padding: .5em 1.4em;
        letter-spacing: 1px;
    }
    .nxl-price {
        left: 24%;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 48.8%;
    }
    .nx_agileits-footer .navbar-header.page-scroll p {
        width: 100%;
    }
    .price-top h3 {
        font-size: 0.9em;
        padding: 0.5em;
        left: 35%;
        top: 25%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 28%;
    }
    .hireButtonBox {
        float: left;
    }

}
@media screen and (max-width: 568px){
    .navbar-header.page-scroll p {
        width: 50%;
    }
    span.sicon {
        font-size: 1.5em;
    }
    .nxl-price {
        width: 90px;
        height: 90px;
    }
    .nxl-price p {
        font-size: 0.85em;
    }
    .price-bottom ul li {
        font-size: 0.6em;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 48.7%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 26%;
    }
    .agileits_nxlayouts-map iframe {
        min-height: 300px;
    }
    .hireButtonBox {
        float: left;
    }

}
@media screen and (max-width: 480px){
    .nxlayouts-about, .wthreelocationsaits, .vans, .team, .testimonials, .blog, .contact {
        padding: 3em 0;
    }
    .navbar-header.page-scroll p {
        width: 50%;
    }
    h3.agile-title {
        font-size: 3em;
    }
    .callbacks_tabs {
        left: 40%;
    }
    .nxl-price {
        width: 100px;
        height: 100px;
        left: 37%;
        top: 30%;
        padding: 1em;
        z-index: 0;
    }
    .nxl-button {
        position: absolute;
        left:28%;
        top: 65%;
    }

    .more-button{
        position: absolute;
        left: 60%;
        top: 98%;
    }
    span.sicon {
        font-size: 1.8em;
    }
    span.sicon p{
        font-size:0.6em;
    }
    .pricing{
        width:50%;
    }
    .price-top h3 {
        left: 39%;
    }
    .pricing.p3 {
        margin-top: 5em;
    }
    .team .container {
        width: 80%;
    }
    .agileinfo-contact-left input[type="text"], .agileinfo-contact-left input[type="email"] {
        width: 48.5%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 22%;
    }
    .wthreelocationsaits .grid figure {
        width: 48%;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 3.5em;
    }
    .footer-nav li {
        padding-right: 0.4em;
    }
    .hireButtonBox {
        float: left;
    }
    .infoPic {
        display: none;
    }

    .price-bottom {
        padding: 0;
    }
    .price-bottom ul li{
        padding: 1em 0;
        font-size: 0.6em;
    }
    .details {
        margin-left: 0.5em;
    }
    form.register input
    {
        width: 100%;
    }
    form.register textarea {
        width: 100%;
    }
  .newcli-form {
        margin: 3em 0;
    }
    form.register legend {
        margin-top: 1em;
    }
    #login-modal{
        width: 95%;
    }
    .searchBtn {
        margin-bottom: 10px;
    }
    #postcode_lookup {
        margin-left: 7px;
    }
    #collection, #delivery {
        padding-left: 4px;
    }
    .agreement {
        margin-left: 0;
    }
    #delivery label, #collection label {
        padding-left: 4px !important;
    }
    #news {
        left: 143px;
    }
    #location {

        margin-bottom: 10px;
    }
}
@media screen and (max-width: 414px){
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 13em 0 10em;
    }
    h3.agile-title {
        font-size: 2.2em;
        letter-spacing: 3px;
    }
    .navbar-header.page-scroll p {
        width: 60%;
    }
    input#cont_mail.form-control {
        margin: 10px 0 10px 0;
    }
    .agileinfo-contact-left {
        margin-bottom: 3em;
    }
    .agileinfo-contact-left input[type="text"] {
        width: 100%;

    }
    .agileits-blog-bottom {
        padding: 1em;
    }
    .team .container {
        width: 94%;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 2.8em;
    }
    .wthreelocationsaits .dummy-img, .dummy-text {
        max-width: 325px;
    }
    .owl-carousel .owl-item img {
        visibility: visible;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 5em;
    }

    .footer-nav li {
        padding: 0.3em;
    }
    .hireButtonBox {
        float: left;
    }
    .more-button{
        position: absolute;
        left: 60%;
        top: 92%;
    }
    .checkbox-inline {
        padding-left: 4px !important;
    }
    #news {
        left: 175px;
        z-index: 5;
    }
    #terms {
        left: 184px;
        z-index: 5;
    }
    #location {

        margin-bottom: 10px;
    }

}
@media screen and (max-width: 384px){
    .navbar-header.page-scroll p {
        width: 60%;
    }
    h3.agile-title {
        font-size: 2em;
        letter-spacing: 3px;
    }
    .nx-about-left:nth-child(2) {
        margin: 2em 0;
    }
    .agileits-banner-info, .agileits-banner-info1, .agileits-banner-info2, .agileits-banner-info3, .agileits-banner-info4 {
        padding: 15em 0 7em;
    }
    .pricing {
        width: 100%;
    }
    .nxl-price {
        left: 37%;
        font-size: 1em;
    }
    .nxl-button {
        position: absolute;
        left:25%;
        top: 75%;
    }
    .more-button{
        position: absolute;
        left: 60%;
        top: 98%;
    }
    .price-top h3{
        padding:1em;
    }
    .pricing.p3 {
        margin-top: 0;
    }
    .pricing.p2 {
        margin: 5em 0;
    }
    .team .container {
        width: 100%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 13%;
    }
    .wthree-footer-left h5 {
        font-size: 1.2em;
    }
    .wthreelocationsaits .grid figure {
        width: 100%;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 5.5em;
    }
    .wthreelocationsaits .dummy-img, .dummy-text {
        max-width: 300px;
    }
    .agileinfo-contact-left {
        padding: 0 0 3em;
        margin-bottom: 3em;
    }
    .hireButtonBox {
        float: left;
        padding: 0;
        margin: 20px 0 0 4px;
    }
    .descBox {

        padding: 0;
        margin: 0;
    }
    form.register input
    {
        width: 107%;
    }
    form.register textarea
    {
        width: 93%;
    }

    #news, #terms {
        left: 142px;
        z-index: 10;
    }

}
@media screen and (max-width: 375px){
    .nxls_team_grid{
        width:100%;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 3em;
    }

}
@media screen and (max-width: 320px){

    h3.agile-title {
        letter-spacing: 1px;
    }
    .nx_agileits-footer .navbar-header.page-scroll {
        margin: 0 2em;
    }
    .navbar-header.page-scroll p {
        width: 75%;
    }
    .wthreelocationsaits figure.effect-zoe h4 {
        margin-top: 4.5em;
    }
    .wthreelocationsaits .dummy-img, .dummy-text {
        max-width: 250px;
    }
    .wthree-footer-left h5 {
        font-size: 0.9em;
    }
    .hireButtonBox {
        float: left;
    }
    #vanResult {
        padding-left: 1em;
    }
    form.register input
    {
        width: 100%;
    }
    form.register textarea
    {
        width: 100%;
    }
    #news, #terms {
        left: 131px;
        z-index: 5;
    }

}
/* -- //Responsive code -- */

